* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.center_slider {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  padding-top: 18px;
  padding-bottom: 18px;
}
.header_left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header_right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header_right .header__icon {
  position: absolute;
  padding-top: 1px;
  top: 0;
  right: 0;
}
.header_right .header__icon .header__text {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  top: 1px;
  right: 0;
}
.header_right .header__icon .header__ellips {
  background-color: #f16d7f;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -5px;
}

.top-head {
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-head .top-head__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumbs {
  gap: 5px;
  display: flex;
}
.breadcrumbs__link {
  font-stretch: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link_site {
  font-weight: 700;
  color: #f16d7f;
}

.slide {
  background: url(./img/ImageSlide.jpg) no-repeat center;
  height: 777px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.slide__link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
}
.slide__vector:hover path {
  fill: #f16d7f;
}

.product_description_info {
  transform: translateY(-10%);
}

.product_description {
  border: 1px solid rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  padding-bottom: 65px;
}
.product_description__title {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #f16d7f;
  margin-top: 65px;
}
.product_description__border_mini {
  border: 3px solid;
  width: 63px;
  color: #f16d7f;
  margin-top: 12px;
}
.product_description__h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: rgb(94, 94, 94);
  margin-top: 12px;
}
.product_description__text {
  width: 555px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: rgb(94, 94, 94);
  margin-top: 48px;
}
.product_description__price {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin-top: 32px;
}
.product_description__border_max {
  border: 1px solid;
  color: #f16d7f;
  width: 642px;
  margin-top: 64px;
}

.sport {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 23px;
  margin-top: 65px;
}
.sport__choose {
  display: flex;
  gap: 9px;
}
.sport__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(111, 110, 110);
}
.sport .sport__vector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.product_description__button {
  width: 212px;
  height: 48px;
  background-color: #fff;
  border: 1px solid #f16d7f;
  color: #f16d7f;
  margin-top: 49px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 23px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.product_description__button:hover {
  color: #fff;
  background-color: #f16d7f;
}

.product_description__vector path {
  fill: #f16d7f;
}

.product_description__vector path:hover {
  fill: #fff;
}

.product_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding-top: 65px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 360px;
}
.product_img {
  width: 100%;
}
.product_content {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: rgb(248, 248, 248);
}
.product_name {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000;
  text-align: left;
}
.product_text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
  color: rgb(94, 94, 94);
  width: 315px;
}
.product_price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.frame {
  position: relative;
  background: url(./img/frame_bg.jpg) no-repeat center;
  height: 448px;
  margin-top: 128px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.frame__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 96px;
}
.frame__text {
  width: 360px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}
.frame__subscribe {
  text-align: center;
  margin-top: 155px;
}
.frame__title {
  font-size: 24px;
  font-weight: 700;
}
.frame__span {
  font-size: 18px;
  font-weight: 400;
}
.frame__email__sub {
  display: flex;
  margin-top: 27px;
}
.frame__sub__input {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: rgb(34, 34, 36);
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  width: 236px;
  height: 49px;
  border: none;
  padding-left: 22px;
  background: rgb(225, 225, 225);
}
.frame__sub__button {
  width: 100px;
  height: 49px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  background: #f16d7f;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}

.footer {
  background-color: #222222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgb(251, 251, 251);
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__icon {
  padding-top: 24px;
}

@media (max-width: 768px) {
  .frame {
    margin-top: 64px;
  }
  .frame__info {
    margin-top: 54px;
  }
  .frame__subscribe {
    gap: 0;
  }
}/*# sourceMappingURL=style.css.map */